<link rel="stylesheet" href="./test-block.scss">
<script src="./TestBlock.ts"></script>

<div class="test-block" data-component="test-block">
  <div style="color: {{color}}; height: {{height}}px">{{title}}</div>
</div>
