<link rel="stylesheet" href="./tabs.scss">
<script src="./Tabs.ts"></script>

<div class="tabs" data-component="tabs">
  <header class="header">
    <ul class="header-items">
      {{#each items}}
        <li class="header-item" data-index={{@index}}>{{title}}</li>
      {{/each}}
    </ul>
  </header>
  <div class="content" data-tabs-content>
    {{#each items}}
      {{#with content}}
        {{> (lookup . 'block') data}}
      {{/with}}
    {{/each}}
  </div>
</div>
