<link rel="stylesheet" href="./tabs.scss">
<script src="./Tabs.ts"></script>

<div class="tabs" data-component="tabs">
  <ul class="header">
    {{#each items}}
      <li class="header-item" data-index={{@index}}>{{title}}</li>
    {{/each}}
  </ul>
  <div class="content" data-tabs-content>
    {{#each items}}
      {{#with content}}
        {{> (lookup . 'block') data}}
      {{/with}}
    {{/each}}
  </div>
</div>
